* {
    border: 1px solid black; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10%;
    font-weight: 900;
}

.menu {
    padding: 0;
    margin-right: 10%;
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

li > a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    padding: 4.5rem 20rem;
    display: flex;
    justify-content: space-between;
    height: max-content;
}

.main-text {
    width: 40%;
}

.main-text > * {
    margin: 0;
}

.main-text > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.main-text > p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    flex-shrink: 0;
    height: auto;
    width: 50%;
}

.sign-up {
    margin: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    padding: 0.2rem 1.3rem 0.3rem;
    color: white;
    background-color: #3882F6;
    font-weight: bold;
}

.content {
    text-align: center;
}

.content h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0 30rem;
}

.cards img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border: 3px solid #3882F6;
    border-radius: 1rem;
}

.card {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;.
    width: 100%;
    max-width: 200px;
    font-size: 18px;
}

.card p,
.quote p,
.credit {
    margin: 0;
}

.quote {
    margin: 2rem 0;
    padding: 8rem 35rem;
    background-color: #E5E7EB;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-weight: light;
    font-style: italic;
}

.credit {
    display: flex;
    justify-content: flex-end;
}