/* defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    gap: 1rem;

    border: 1px solid black;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

/* start given style */
.white-text {
    color: #F9FAF8;
}

.grey-text {
    color: #E5E7EB;
}

.blue-bg {
    background-color: #3882F6;
}

.dark-text {
    color: #1F2937;
}

.dark-bg {
    background-color: #1F2937;
}
/* end given style */

.header,
.menu,
.hero,
.content,
.cards {
    display: flex;
}

.hero,
.cards,
.card {
    flex-wrap: wrap;
}

.header {
    padding: 1rem 10rem;
}

.header {
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

.menu {
    margin-left: auto;
    list-style-type: none;
}

.hero {
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 10rem;
}

.hero-text {
    max-width: 35vw;
}

.title,
.info-title {
    font-weight: bolder;
}

.title {
    font-size: 48px;
}

.subtitle {
    font-size: 18px;
}

.sign-up {
    font-weight: bold;
    color: white;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;
}

.content {
    gap: 3rem;
    padding: 3rem 0;
    flex-direction: column;
    text-align: center;
}

.info-title {
    font-size: 36px;
}

.cards {
    justify-content: space-evenly;
    align-items: center;
}

.card {
    flex: 0 1 250px;
}

.card > img {
    border-radius: 0.5rem;
    border: 3px solid #3882F6;
    width: 100%;
    height: auto;
}